1. Iterable and iterator
2. range is iterator but a is iterable
3. iterator uses one space but a uses variable space according to value bcoz it is iterablle

In [1]:
range(5)

range(0, 5)

In [3]:
range(1,5)

range(1, 5)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
[range(5)]

[range(0, 5)]

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
a=[1,2,3]

In [38]:
b=iter(a)

In [12]:
b

In [13]:
a

[1, 2, 3]

here a is iterable but b is iterator

In [20]:
for x in a:
    print(a)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [25]:
for x in b:
    print(x)

1
2
3

In [26]:
for x in b:
    print(x)

iterator can only run one time so here when we ran it 2nd time it is blank

In [39]:
next(b)

1

In [40]:
next(b)

2

In [41]:
next(b)

3

In [42]:
next(b)

StopIteration:

In [43]:
list(b)

[]

In [45]:
for i in range(5):
    print(i, end='')

01234

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

To reverse range

In [48]:
for i in range(4,-1,-1):
    print(i)

4
3
2
1
0

In [49]:
for i in range(4,-1,-1):
    print(i, end='')

43210

In [1]:

for i in range (4):
    for j in range(0, i + 1):
        print("*", end='---')
    print("\r")

*---
*---*---
*---*---*---
*---*---*---*---

In [87]:
for i in range(1,5):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****

In [104]:
for i in range(4,-1,-1):
    for j in range(i):
        print("*", end='')
    print()

****
***
**
*

In [103]:
for i in range(1,6):
    for j in range(i):
        print('*', end='')
    print()
for i in range(4,-1,-1):
    for j in range(i):
        print("*", end='')
    print()

*
**
***
****
*****
****
***
**
*

In [122]:
print("Print full Triangle pyramid using stars ")
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

Print full Triangle pyramid using stars
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [1]:
for i in range(5,-1,-1):
    for j in range(i):
        print(' ', end=' ')
    for j in range(i+1,5):
        print('*', end=' ')
    print()

      *
    * *
  * * *
* * * *