1. loops statement (for loop)
2. control satement (if statement)
3. enu merate and zip (built-in function)

Control statement

In [1]:
a=2000
b=2000
if a==b:
    print("Both are equal")

Both are equal

In [3]:
a=2000
b=200
if a==b:
    print("Both are equal")
else:
    print("They are not equal")

They are not equal

Three imp keywords :
1. break
2. continue
3. return
4. range

In [7]:
a=2000
b=20
c=a
if a is b:
    print("Both a and b is same object")
elif a==b:
    print("a and b are equal")
else:
    print("a and b are neither same object nor have same value")

a and b are neither same object nor have same value

In [8]:
a=2000
b=a
c=a
if a is b:
    print("Both a and b is same object")
elif a==b:
    print("a and b are equal")
else:
    print("a and b are neither same object nor have same value")

Both a and b is same object

In [9]:
a=2000
b=2000
c=a
if a is b:
    print("Both a and b is same object")
elif a==b:
    print("a and b are equal")
else:
    print("a and b are neither same object nor have same value")

a and b are equal

In [10]:
a=3000
b=a
if a==b:
    if a is b:
        print("Both are equal")

Both are equal

In [12]:
a=3000
b=a
if a==b:
    if a is b:
        print("Both are equal","something")

Both are equal something

In [14]:
a=3000
b=a
if a==b:
    if a is b:
        print("Both are equal",end="")
        print(" something")

Both are equal something

In [15]:
a=3000
b=a
if a==b:
    if a is b:
        print("Both are equal")
        print(" something")

Both are equal
 something

simle string example

In [29]:
a=20
b=40
'The sum of '+str(a)+' and '+str(b)+' is ' +str(a+b)

'The sum of 20 and 40 is 60'

In [36]:
s="result:"
a=20
b=40
'The sum of '+str(a)+' and '+str(b)+' is ' +str(a+b)

'The sum of 20 and 40 is 60'

In [24]:
s="Result:"
a=20
b=40
'{} The sum of {} and {} is {}.'. format(s,a,b,a+b)

'Result: The sum of 20 and 40 is 60.'

Indexing in String

In [37]:
s="Result:"
a=20
b=40
'{0} The sum of {3} and {1} is {2}.'. format(s,b,a+b,a)

'Result: The sum of 20 and 40 is 60.'

TO print numbers divisible by 5

In [40]:
for i in range (55):
    if i%5==0:
        print(i, end="   ")

0   5   10   15   20   25   30   35   40   45   50

to print even numbers

In [41]:
for i in range (55):
    if i%2==0:
        print(i, end="   ")

0   2   4   6   8   10   12   14   16   18   20   22   24   26   28   30   32   34   36   38   40   42   44   46   48   50   52   54

In [42]:
for i in range (1,55):
    if i%2==0:
        print(i, end="   ")

2   4   6   8   10   12   14   16   18   20   22   24   26   28   30   32   34   36   38   40   42   44   46   48   50   52   54

In [43]:
for i in range (1,55):
    if i%5==0:
        print(i, end="   ")

5   10   15   20   25   30   35   40   45   50

to exit from loop with "break":
Ex of BREAK

In [53]:
for i in range (1,55):
    if i%5==0:
        print(i)
        break
    print("{} is not divisible by {}".format(i,5))

1 is not divisible by 5
2 is not divisible by 5
3 is not divisible by 5
4 is not divisible by 5
5

EXAMPLE FOR CONTINUE

In [62]:
for i in range (1,55):
    if i%5==0:
        print(i)
        continue
    print("{} is not divisible by {}".format(i,5))

1 is not divisible by 5
2 is not divisible by 5
3 is not divisible by 5
4 is not divisible by 5
5
6 is not divisible by 5
7 is not divisible by 5
8 is not divisible by 5
9 is not divisible by 5
10
11 is not divisible by 5
12 is not divisible by 5
13 is not divisible by 5
14 is not divisible by 5
15
16 is not divisible by 5
17 is not divisible by 5
18 is not divisible by 5
19 is not divisible by 5
20
21 is not divisible by 5
22 is not divisible by 5
23 is not divisible by 5
24 is not divisible by 5
25
26 is not divisible by 5
27 is not divisible by 5
28 is not divisible by 5
29 is not divisible by 5
30
31 is not divisible by 5
32 is not divisible by 5
33 is not divisible by 5
34 is not divisible by 5
35
36 is not divisible by 5
37 is not divisible by 5
38 is not divisible by 5
39 is not divisible by 5
40
41 is not divisible by 5
42 is not divisible by 5
43 is not divisible by 5
44 is not divisible by 5
45
46 is not divisible by 5
47 is not divisible by 5
48 is not divisible by 5
49 is not divisible by 5
50
51 is not divisible by 5
52 is not divisible by 5
53 is not divisible by 5
54 is not divisible by 5

In [64]:
for i in range (1,51):
    if i%5==0:
        print("{} is divisible by 5".format(i))
        continue
    print("{} is not divisible by {}".format(i,5))

1 is not divisible by 5
2 is not divisible by 5
3 is not divisible by 5
4 is not divisible by 5
5 is divisible by 5
6 is not divisible by 5
7 is not divisible by 5
8 is not divisible by 5
9 is not divisible by 5
10 is divisible by 5
11 is not divisible by 5
12 is not divisible by 5
13 is not divisible by 5
14 is not divisible by 5
15 is divisible by 5
16 is not divisible by 5
17 is not divisible by 5
18 is not divisible by 5
19 is not divisible by 5
20 is divisible by 5
21 is not divisible by 5
22 is not divisible by 5
23 is not divisible by 5
24 is not divisible by 5
25 is divisible by 5
26 is not divisible by 5
27 is not divisible by 5
28 is not divisible by 5
29 is not divisible by 5
30 is divisible by 5
31 is not divisible by 5
32 is not divisible by 5
33 is not divisible by 5
34 is not divisible by 5
35 is divisible by 5
36 is not divisible by 5
37 is not divisible by 5
38 is not divisible by 5
39 is not divisible by 5
40 is divisible by 5
41 is not divisible by 5
42 is not divisible by 5
43 is not divisible by 5
44 is not divisible by 5
45 is divisible by 5
46 is not divisible by 5
47 is not divisible by 5
48 is not divisible by 5
49 is not divisible by 5
50 is divisible by 5